# update following:
#
# sample_project
# catalog
# schema
# http_path
# host

# sample_project:
   target: dev
   outputs:
    dev:
      type: databricks
      method: http
      # catalog: xxx
      # schema: xxx
      # http_path: /sql/1.0/warehouses/xxx
      # host: https://adb-xxx.x.azuredatabricks.net/
      auth_type: oauth
