site_name: My Docs

theme:
  name: "material"

plugins:
- search
- gen-files:
    scripts:
    - docs/scripts/gen_ref_pages.py
- literate-nav:
    nav_file: SUMMARY.md
- section-index
- mkdocstrings:
    handlers:
      python:
        options:
          # Ignore special methods
          filters:
            - "!^__init__$"
            - "!^__post_init__$"
nav:
- home: index.md
- packages: reference/
- dbt: dbt/
