site_name: My Docs

theme:
  name: "material"

plugins:
- search
- gen-files:
    scripts:
    - scripts/gen_ref_pages.py
- literate-nav:
    nav_file: SUMMARY.md
- section-index
- mkdocstrings
nav:
- home: index.md
- api: reference/