name: '[prd]: Databricks Bundle'

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: prd
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    # - name: deploy
    #   uses: ./.github/actions/deploy
    #   with:
    #     azure_tenant_id: ${{ vars.AZURE_TENANT_ID }}
    #     azure_client_id: ${{ vars.AZURE_CLIENT_ID }}
    #     environment: prd
