name: '[tst]: databricks bundle deploy'

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.dbt/**'
      - '.github/**'
      - 'docs/**'
      - 'README.md'
  workflow_dispatch:

# Global workflow-level variables
env:
  BUNDLE_DIR: bundles/sample_bundle
  DOCS_OUTPUT_DIR: build/docs

concurrency:
  group: "tst-bundles"
  cancel-in-progress: false

# permissions:
#   id-token: write
#   contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: tst

    steps:
    # Checkout repository source code
    - name: Checkout
      uses: actions/checkout@v4

    # Setup Python + uv dependency manager
    # (custom composite action in this repo)
    - uses: ./.github/actions/uv-setup

      # Deploy Databricks Asset Bundle
      # Uses custom composite action wrapping `databricks bundle deploy`
    - name: bundle deploy
      uses: ./.github/actions/dab-command-aws
      with:
        bundle_path: ${{ env.BUNDLE_DIR }}
        bundle_environment: tst
        bundle_command: deploy

        databricks_client_id: ${{ secrets.DATABRICKS_CLIENT_ID }}
        databricks_client_secret: ${{ secrets.DATABRICKS_CLIENT_SECRET }}
