name: '[tst]: databricks bundle deploy'

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: "tst-bundles"
  cancel-in-progress: false

# permissions:
#   id-token: write
#   contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: tst

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: bundle deploy
      uses: ./.github/actions/dab-command-aws
      with:
        environment: tst
        bundle_path: bundles/sample_bundle
        bundle_command: deploy

        databricks_client_id: ${{ secrets.DATABRICKS_CLIENT_ID }}
        databricks_client_secret: ${{ secrets.DATABRICKS_CLIENT_SECRET }}
